.portraitContainer {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.header {
	height: 40px;
	width: 600px;
	background-color: #f0f0f0;
	line-height: 40px;
}
#imgName {
	width: 200px;
}
#selectPic {
	width: 64px;
}
.imgContainer {
	float: left;
	border: 1px solid #9baab3;
	margin: 10px 0px;
	width: 298px;
	height: 298px;
	background-image: url(./unload.png);
	background-size: cover;
	position: relative;
	background-color: rgba(0,0,0, 0.4);
}
.smallPic_60 {
	border: 1px solid #9baab3;
	margin: 0 auto;
}
.smallPic_120 {
	border: 1px solid #9baab3;
	margin: 0 auto;
}
#screenCanvas {
	position: absolute;
	top: 0;
	left: 0;
}
.smallPicGroups {
	margin: 10px 0px;
	padding-left: 320px;
}
.smallPicGroups::after {
	display: block;
	content: "";
	height: 0;
	clear: both;
}
.smallPicGroups div.pixel {
	font-size: 10px;
	line-height: 10px;
}
.diyPortrait span {
	cursor: pointer;
	background-color: #d7d7d7;

}
.smallPicContainer_60 {
	float: left;
	text-align: center;
}
.smallPicContainer_120 {
	float: left;
	text-align: center;
	margin-left: 20px;
}
.portraitContainer {
	width: 800px;
	height: 470px;
	position: relative;
	margin: 0 auto;
}
.imgContainerRect {
	position: absolute;
	z-index: 11;
	top: 0;
	left: 0;
	right: 50px;
	bottom: 50px;
	// width: 180px;
	// height: 180px;
	border: 1px solid black;
	cursor: move;
	display: none;
	margin-top: 0px;
	margin-left: 0px;
}